nav{
	background-color: orange;
	padding: 2.5% 1%
}
div.left, div.right, div.right ul, div.right ul li{
	display: inline-block;	
	box-sizing: border-box;
}
div.left{
	padding-left: 50px;
	width: 35%;
}
div.left a{
	color: white;
	text-decoration: none;
	font-size: 2rem;
}
img.small{
	width: 75px;
	height: 75px;
	position: left;
}
	
div.right{
	padding-right: 50px;
	text-align: right;
	width: 65%;
}
div.right ul li{
	margin: 0 10px;
	color: white;
	font-size: 1.5rem;
	word-spacing: 10%;
	position: right;
}

section div.middle-left,img.large{
	height: 50%;
	width: 50%;
	display: inline-block;
	position: left;

	
}
section div.middle-right{
	height: 50%;
	width: 50%;
	display:inline-block;
	position: right;
	font-size: 3rem;
	color: orange;
}
span {
	color: #66ff66;
}
sup{
	font-size: .7rem;

}
button {
	border: 0;
	box-shadow: none;
	border-radius: 0px;
	padding: 35px;
	padding-bottom: 5px;
	margin-right: 50px;
	text-align: center;
}
button.quote {
	background-color: #66ff66;
	color:white;
	display: inline-block;

	
}
button.view {
	background-color: orange;
	color:white;
	display: inline-block;
}
footer{
	background-color: #66ff66;
	padding: 3% 3%;
	margin-top: 2%;
	text-align: center;
}
footer div {
	color: white;
	text-decoration: none;
	font-size: 2rem;
	display: inline-block;
	width: 10%;



	
}

	
